<!doctype html>
<html lang="en">
    <head>
		{% load static %}



        <!-- Required meta tags -->
        <meta charset="utf-8">
		{% load i18n %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="img/favicon.png" type="image/png">
        <title>O Nazarov</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'my_app/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'my_app/vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'my_app/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'my_app/vendors/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'my_app/vendors/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{% static 'my_app/vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'my_app/vendors/animate-css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'my_app/vendors/popup/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'my_app/vendors/flaticon/flaticon.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'my_app/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'my_app/css/responsive.css' %}">
    </head>
    <body>

        <!--================Header Menu Area =================-->
        <header class="header_area" >
			<div>
				<ul class="word">
					<li class="nav-item ">
						<h2 class="word-heading">{% trans  "“ TOSHKENT IRRIGATSIYA VA QISHLOQ XO'JALIGINI MEXANIZATSIYALASH MUHANDISLARI INSTITUTI ” MILLIY TADQIQOT UNIVERSITETI" %}</h2>
					</li>
				</ul>
			</div>
			<div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container box_1620">
						<div  style="color:white;marigin-right:40px; "><i class="fa fa-eye"></i><a href="">      </a>{{ eye }}</div>
						<p style="color:white" >      &nbsp     &nbsp           &nbsp           &nbsp</p>
						<form action="{% url 'set_language' %}" method="post">
  {% csrf_token %}
  <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
  <input name="language" type="hidden" value="en" />
  <input type="submit" value="English" />
</form>
<form action="{% url 'set_language' %}" method="post">
  {% csrf_token %}
  <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
  <input name="language" type="hidden" value="ru" />
  <input type="submit" value="Russian" />
</form>
<form action="{% url 'set_language' %}" method="post">
  {% csrf_token %}
  <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
  <input name="language" type="hidden" value="uz" />
  <input type="submit" value="Uzbek" />
</form>



						<!-- Brand and toggle get grouped for better mobile display -->
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent" >
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">{% trans  "BOSH SAHIFA" %}</a></li>
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "FAN" %}</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="{% url 'file1' %}">{% trans  "MARUZA" %}</a></li>
										<li class="nav-item"><a class="nav-link" href="{% url 'file2' %}">{% trans  "AMALIYOT" %}</a></li>
										<li class="nav-item"><a class="nav-link" href="{% url 'file3' %}">{% trans  "LABARATORIYA" %}</a></li>
										<li class="nav-item"><a class="nav-link" href="{% url 'file4' %}">{% trans  "mustaqil talim" %}</a></li>
									</ul>
								</li>

								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans  "ilmiy ishlar" %}</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="{% url 'file5' %}">{% trans  "scopus" %}</a></li>
										<li class="nav-item"><a class="nav-link" href="{% url 'file6' %}">{% trans  "oak" %}</a></li>
										<li class="nav-item"><a class="nav-link" href="{% url 'file7' %}">{% trans  "konferensiya" %}</a></li>
									</ul>
								</li>
							<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans  "SHAXSIY MA'LUMPTLARIM" %}</a>
									<ul class="dropdown-menu"><li class="nav-item"><a class="nav-link" href="{% static 'my_app/files/ob.pdf' %}">{% trans  "OBYEKTIVKA" %}</a></li>
										<li class="nav-item"><a class="nav-link" href="{% static 'my_app/files/ilish.pdf' %}">{% trans  "ILMIY ISHLARIM" %}</a></li>
										<li class="nav-item"><a class="nav-link" href="{% static 'my_app/files/dipl.pdf' %}">{% trans  "DIPLOMLARIM" %}</a></li>
									</ul>
								</li>
								<li class="nav-item active"><a class="nav-link" href="{% static 'my_app/files/darsj.pdf' %}">{% trans  "MENING ISH GRAFIGIM" %}</a></li>
							</ul>
						</div>
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->

        <!--================Home Banner Area =================-->
        <section class="home_banner_area" >
           	<div class="container box_1620" >
				<div class="banner_inner d-flex align-items-center">
					<div class="banner_content">
						<div class="media">
							<div class="d-flex">
								<img src="{% static 'my_app/img/photo_2021-11-26_21-55-49.jpg' %}" alt="">
							</div>
							<div class="media-body">
								<div class="personal_text">
									<h2>{% trans  "ABDIRASULOVICH" %}</h2>
									<h3>{% trans  "OYBEK NAZAROV" %}</h3>

									<ul class="list basic_info">
										<li><a href="#"><i class="lnr lnr-calendar-full"></i>03.02.1985</a></li>
										<li><a href="#"><i class="lnr lnr-phone-handset"></i>+99890973439385</a></li>
										<li><a href="#"><i class="lnr lnr-envelope"></i>oyek1985nazarov@gmail.com</a></li>
										<li><a href="#"><i class="lnr lnr-home"></i>{% trans  "Qashqadaryo viloyati, Qamashi tumani" %}</a></li>
									</ul>
									<ul class="list personal_social">
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-telegram"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

        <!--================Welcome Area =================-->
        <section class="welcome_area p_120">
        	<div class="container">
        		<div class="row welcome_inner">
        			<div class="col-lg-6">
        				<div class="welcome_text">
        					<h4>{% trans  "MENING MEHNAT FAOLIYATIM" %}</h4>
        					<p>{% trans  "2007-2011 yy. – Toshkent irrigasiya va melioratsiya instituti talabasi" %}
								<br>
								{% trans  "2012-2014 yy. – Toshkent irrigasiya va melioratsiya instituti magistranti" %}
								<br>
								{% trans  "2014-2015 yy. – Toshkent irrigasiya va melioratsiya instituti chizma geometriya va muhandislik grafikasi kafedrasi kabinet mudiri" %}
								<br>
								{% trans  "2015-2017 yy. – Toshkent irrigasiya va melioratsiya instituti elektrotekxnika va elektr yuritma kafedrasi assistent" %}
								<br>
								{% trans  "2018-2019yy. – Toshkent irrigasiya va qishloq xo‘jaligini mexanizasiyalash muhandislari insituti elektrotexnika va mexatronika kafedrasi assistenti va qishloq va suv xo‘jalig energiya ta'minoti fakul'teti dekan o‘rinbosari" %}
								<br>
								{% trans  "2019 yy – h.v. – Toshkent irrigasiya va qishloq xo‘jaligini mexanizasiyalash muhandislari instituti elektrotexnika va mexatronika kafedrasi assistenti" %}</p>
        				</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="tools_expert">
        					<div class="skill_main">
								<div class="skill_item">
									<h4>{% trans  "Toshkent irrigasiya va melioratsiya instituti talabasi" %} <span class="counter">4</span>{% trans "yil" %}</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>{% trans  "Toshkent irrigasiya va melioratsiya instituti magistranti " %}<span class="counter">2</span>{% trans " yil" %}</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>{% trans  "Toshkent irrigasiya va melioratsiya instituti chizma geometriya va muhandislik grafikasi kafedrasi kabinet mudiri" %}</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
								<h4>{% trans "Toshkent irrigasiya va melioratsiya instituti elektrotekxnika va elektr yuritma kafedrasi assistent " %}<span class="counter">3</span>{% trans "yil" %}</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4> {% trans "Toshkent irrigasiya va qishloq xo‘jaligini mexanizasiyalash muhandislari insituti elektrotexnika va mexatronika kafedrasi assistenti va qishloq va suv xo‘jalig energiya ta'minoti fakul'teti dekan o‘rinbosari" %} <span class="counter">1</span>{% trans "yil" %}</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->


        <!--================My Tabs Area =================-->
        <section class="mytabs_area p_120">
        	<div class="container">
        		<div class="tabs_inner">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{% trans "MENING TAJRIBAM" %}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">{% trans "MENING TA'LIMIM" %}</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
							<ul class="list">
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>{% trans "2014 - 2015 yil orasida" %}</p>
										</div>
										<div class="media-body">
											<h4>{% trans "kafedra mudiri" %}</h4>
											<p>{% trans "Geometriya va muhandislik" %}<br />{% trans "grafikasi kafedrasi" %}</p>
										</div>
									</div>
								</li>
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>{% trans "2015 - 2017 yil orasida" %}</p>
										</div>
										<div class="media-body">
											<h4>{% trans "kafedra assistent" %}</h4>
											<p>{% trans "Elektrotekxnika va elektr " %}<br /> {% trans "yuritma kafedrasi" %}</p>
										</div>
									</div>
								</li>
								<li>
								<span></span>
									<div class="media">
										<div class="d-flex">
											<p>{% trans "2018-2019 yillar orasida" %}</p>
										</div>
										<div class="media-body">
											<h4>{% trans "fakultet dekan o‘rinbosari" %}</h4>
											<p>{% trans "Qishloq va suv xo‘jalig energiya" %}<br />{% trans "ta'minoti fakul'teti" %}</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
							<ul class="list">
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>{% trans "2007 - 2011 yil orasida" %}</p>
										</div>
										<div class="media-body">
											<h4>{% trans "talaba " %}</h4>
											<p>{% trans "Toshkent irrigasiya va melioratsiya  "%}<br />{% trans "instituti talabasi  "%}</p>
										</div>
									</div>
								</li>
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>{% trans "2012-2014 yil orasida  "%}</p>
										</div>
										<div class="media-body">
											<h4>{% trans "MAGISTRANT" %}</h4>
											<p>{% trans "Toshkent irrigasiya va melioratsiya   "%}<br />{% trans "instituti magistranti  "%}</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
        		</div>
        	</div>
        </section>
        <!--================End Testimonials Area =================-->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" height="600" src="{% static 'my_app/img/photo_2021-11-26_21-55-49.jpg' %}" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" height="600" src="{% static 'my_app/img/photo_2021-11-26_21-55-49.jpg' %}" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100"  height="600" src="{% static 'my_app/img/photo_2021-11-26_21-55-49.jpg' %}" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
        <!--================Footer Area =================-->
        <footer class="footer_area p_120">
        	<div class="container">
        		<div class="row footer_inner">
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget ab_widget">
        					<div class="f_title">
        						<h3>{% trans "MEN HAQIMDA  "%}</h3>
        					</div>
        					<p>{% trans "Dunyoni yaxshlik sari ozgartrib..." %}</p>
        					<p><!-- Link back to Colorlib an't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> {% trans "Barcha huquqlar himoya qilingan | Bu sayt" %} <a href="https://t.me/fatkhullaev_b">FATKHULLAEV_B</a>{% trans " tomanidan qilindi" %}
        				</aside>
        			</div>
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget news_widget">
        					<div class="f_title">
        						<h3>{% trans "TAKLIFLAR UCHUN" %} </h3>
        					</div>
        					<p>{% trans "emailingizni qoldiring" %}</p>
        					<div id="mc_embed_signup">
                                <form target="_blank" action="" method="get" class="subscribe_form relative">
                                	<div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Email adresingizni kiriting" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
                                    </div>
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
        				</aside>
        			</div>
        			<div class="col-lg-2">
        				<aside class="f_widget social_widget">
        					<div class="f_title">
        						<h3>{% trans "Meni kuztib boring" %}</h3>
        					</div>
        					<p>{% trans "men internetda" %}</p>
        					<ul class="list">
        						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
        						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
        						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        						<li><a href="#"><i class="fa fa-behance"></i></a></li>
        					</ul>
        				</aside>
        			</div>
        		</div>
        	</div>
        </footer>
        <!--================End Footer Area =================-->





        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js' %}, then Bootstrap JS -->
        <script src="{% static 'my_app/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'my_app/js/popper.js' %}"></script>
        <script src="{% static 'my_app/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'my_app/js/stellar.js' %}"></script>
        <script src="{% static 'my_app/vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'my_app/vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'my_app/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'my_app/vendors/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'my_app/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'my_app/vendors/popup/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'my_app/js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'my_app/vendors/counter-up/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'my_app/vendors/counter-up/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'my_app/js/mail-script.js' %}"></script>
        <script src="{% static 'my_app/js/theme.js' %}"></script>
    </body>
</html>